:host(app-pokemon-description) {

  #container-pokemon-description {
    display: flex;
    justify-content: center;
    -webkit-display: flex;
    -moz-display: flex;
    -o-display: flex;
    flex-flow: column;
    height: 100%;
    width: 800px;
    .form-pokemon {
      section {
        justify-content: center;
      }
      .pokemon-carousel {
        padding: 3em 1em;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr 1fr 1fr;
      }
    }
    .description {
      .subtitle {
        font-weight: bold;
      }
      section {
        flex-direction: column;
        padding: 2em 0em 2em;
        border-bottom: 2px dashed green;
      }
      .description-text {
        font-size: 1.22em;
      }
    }
  }

}