:host(app-pokemon-description) {
	h4 {
		font-size: 1.5em;
	}
	ul {
		list-style: none;
	}
	p {
		margin-bottom: 10px;
	}
	#container-pokemon-description {
		display: flex;
        justify-content: center;
		-webkit-display: flex;
		-moz-display: flex;
		-o-display: flex;
		flex-flow: column;
		height: 100%;
	}

    section {
        flex: 1;
        display: flex;
    }

    .form-pokemon{
        .section-image{
            margin-top: 6em;
        }
        section{
            justify-content: center;
        }
    }

    .description{
        .subtitle{
            font-weight: bold;
        }
        section{
            flex-direction: column;
            padding: 2em 0em 2em;
            border-bottom: 2px dashed green;
        }
        p, li{
            font-size: 1.22em;
        }
    }

    

    section>aside {
        flex: 1;
        padding: 20px;
        background-color: #e1e1e1;
    }
    section>article {
        flex: 3;
        padding: 20px;
        line-height: 2em;
        text-align: justify;
    }
	section h4 {
		margin-bottom: 20px;
		padding: 10px;
		border-radius: 2px;
		color: #FFF;
		box-shadow: 1px 1px 1px #CCC;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	}
	.color-title {
		background: transparent linear-gradient(to right, #61AA01 0%, #61AA01 100%) repeat scroll 0% 0%;
	}

	/*celular*/
	@media only screen and (max-width : 360px) {}

	/*tablet*/
	@media only screen and (max-width : 768px) {}


}